@charset "utf-8";

#wrap{
  width: 100%;
  height: 100%;
}
/* 햄버거 */
.ham {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 60px; 
  height: 55px; 
  cursor:pointer;
  z-index: 2;
  display: none;
}
.ham span {
  display: block;
  background: #FF7A00;
  margin: 0 auto;
  width: 42px;
  height: 4px;
  border-radius: 3px;
  transition: margin 0.25s 0.25s, transform 0.25s ;
}
.ham .bar1 {
  margin-bottom: 8px;
}
.ham .bar3 {
  margin-top: 8px;
}
/* 햄버거 엑스자 */
.ham.active span {
  transition: margin 0.25s, transform 0.25s 0.25s;
  background: #fff;
}

.ham.active .bar1 {
  margin-top: 8px;
  margin-bottom: -4px;
  transform: rotate(45deg);
}
.ham.active .bar2 {
  transform: rotate(45deg);
  
}
.ham.active .bar3 {
  margin-top: -4px;
  transform: rotate(135deg);
}
/* 햄버거-메뉴 */
.hamnav{
  display: none;
  position: absolute;
  top: 0;
  width: 150px;
  height: 260px;
  background-color: rgb(246, 132, 39); 
  z-index: 1;
}
.hamnav ul{
  position: absolute;
  top: 60px;
  left: 20px;
  width: 150px;
  height: 160px;
}
.hamnav ul li{
  font-size: 18px;
  line-height: 46px;
}
.hamnav ul li a{
  color: white;
}
/* 햄버거메뉴끝 */
#header{
  width: 100%;
  height: 120px;
  position: relative;
}
/* 헤더 탑 부분 */
.header-top{
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .logo{
  margin-left: 20px;
  width: 150px;
  height: 60px;
}
.header-top .logo img{
  width: 150px;
}
/* 검색창 */
.header-top .search-area{
  width: 450px;
  height: 37.5px;
  box-sizing: border-box;
  box-shadow: 0 0 2px #7B7777;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;
}
.header-top .search-area .search-input{
  width: 390px;
  height: 30px;
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}
.header-top .search-area .search-input:focus{
  outline: none;
}
.header-top .search-area .search-btn{
  width: 37px;
  height: 37px;
  font-size: 18px;
  line-height: 37px;
  color: rgb(246, 132, 39);
  background: none;
  border: none;
  cursor: pointer;
}
/* 로그인버튼 */
.header-top .login{
  margin-right: 10px;
}
.header-top .login h2{
  width: 100px;
  height: 42px;
  background: #FF7A00;
  border-radius: 20px;
  text-align: center;
}
.header-top .login h2 a{
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  line-height: 45px;
}
/* 모바일,태블릿 로그인 */
#header .login h1{
  width: 40px;
  height: 40px;
  background: #FF7A00;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  display: none;
}
#header .login h1 i{
  color: #fff;
}
/* 헤더- 바텀 부분 */
.header-bottom{
  width: 100%;
  height: 50px;
  position: absolute;
  top: 70px;
}
.header-bottom .search-area{
  display: none;
}
/* 모바일,태블릿 검색창*/
#header .header-bottom .search-area{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 2px #7B7777;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;
}
#header .header-bottom .search-area .search-input{
  width: 240px;
  height: 40px;
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}
#header .header-bottom .search-area .search-input:focus{
  outline: none;
}
#header .header-bottom .search-area .search-btn{
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  color: rgb(246, 132, 39);
  background: none;
  border: none;
  cursor: pointer;
}
/* 헤더 - 메뉴 부분 */
.nav{
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #7B7777;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}
.nav ul{
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav ul li{
  font-size: 15px;
  line-height: 16px;
}
.nav ul li a{
  color: #333333;
}

/* 소환사 정보 summoner-info 부분 */
#summoner-info{
  width: 380px;
  height: 130px;
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#summoner-info .summoner-icon{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #D8D3D3;
  position: relative;
}
#summoner-info .summoner-icon p{
  font-size: 15px;
  line-height: 17px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#summoner-info .summoner-icon p span{
  color: #FF7A00;;
}
/* 소환사정보 텍스트 부분 */
#summoner-info .summoner-info-text{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#summoner-info .summoner-info-text h2{
  font-size: 18px;
  margin-bottom: 12px;
}
#summoner-info .summoner-info-text p{
  font-size: 16px;
}
#summoner-info .summoner-info-text p:nth-of-type(1){
  margin-bottom: 15px;
}
#summoner-info .summoner-info-text p span:nth-of-type(1){
  color: #FF7A00;
}
/* summoner-rank 부분 */
#summoner-rank{
  width: 800px;
  height: 150px;
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
#summoner-rank .solo>h2,
#summoner-rank .free>h2{
  display: none;
}
#summoner-rank .solo{
  border-right: 1px solid #fff;
}
#summoner-rank .solo,
#summoner-rank .free{
  width: 400px;
  height: 150px;
  background-color: #E7E7E7;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#summoner-rank .solo .solorank-img,
#summoner-rank .free .freerank-img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #A4A4A4;
}
#summoner-rank .solo .solorank-text h2,
#summoner-rank .free .freerank-text h2{
  font-size: 14px;
  margin-bottom: 5px;
}
#summoner-rank .solo .solorank-text h2:nth-of-type(2),
#summoner-rank .free .freerank-text h2:nth-of-type(2){
  font-size: 15px;
  color: #FF7A00;
  margin-bottom: 7px;
}
#summoner-rank .solo .solorank-text p,
#summoner-rank .free .freerank-text p{
  font-size: 12px;
}
#summoner-rank .solo .solorank-text p:nth-of-type(1),
#summoner-rank .free .freerank-text p:nth-of-type(1){
  margin-bottom: 5px;
}
/* gamemod 부분 */

#gamemod{
  width: 800px;
  height: 190px;
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#gamemod .gamemod-tab h2{
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-bottom-color: #fff;
  background-color: #e7e7e7;
}
#gamemod .gamemod-tab h2.on{
  background-color: #fff;

}
#gamemod .gamemod-tab h2 a{
  font-size: 16px;
  text-align: center;
}

/* gamemod - contents 부분 */
#gamemod .gamemod-contents{
  width: 800px;
  height: 150px;
  background-color: #fff;
  
}
#gamemod .gamemod-contents .mostchamp{
  width: 400px;
  height: 150px;
}
#gamemod .gamemod-contents .mostchamp .mostchamplist{
  position: relative;
  height: 50px;
  margin-left: 20px;
}
#gamemod .gamemod-contents .mostchamp .mostchamplist .mostchamp-img{
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #A4A4A4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#gamemod .gamemod-contents .mostchamp .mostchamplist h3{
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 50px;
}
#gamemod .gamemod-contents .mostchamp .mostchamplist p{
  font-size: 12px;
  position: absolute;
  top: 27px;
  left: 50px;
}
/* gameaverage부분 */

#gamemod .gamemod-contents .gameaverage{
  width: 400px;
  height: 110px;
  position: absolute;
  right: 0px;
  top: 40px;
  padding-top: 40px;
  text-align: center;
}
#gamemod .gamemod-contents .gameaverage h2{
  font-size: 20px;
}
#gamemod .gamemod-contents .gameaverage p{
  font-size: 14px;
  margin-top: 6px;
}
#gamemod .gamemod-contents .gameaverage p span:nth-of-type(2){
  color: #ff3434;
}
#gamemod .gamemod-contents .gameaverage h1{
  margin-top: 17px;
  font-size: 20px;
}
#gamemod .gamemod-contents .gameaverage h1 span:nth-of-type(1){
  color: #669AFF;
}
#gamemod .gamemod-contents .gameaverage h1 span:nth-of-type(2){
  color: #ff3434;
}

/* Contents 부분 */
#content-wrap{
  width: 800px;
  height: auto;
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#content-wrap .content{
  width: 800px;
  height: 120px ;
  background-color: #ED8B85;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* game-stats */
#content-wrap .content .game-stats{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content-wrap .content .game-stats p{
  font-size: 11px;
  margin: 2px 0;
}
#content-wrap .content .game-stats .game-result{
  font-size: 13px;
  font-weight: bold;
  color: #e30000;
}
#content-wrap .content .game-stats p{
  font-size: 11px;
}
/* gamesetting-info */
#content-wrap .content .gamesetting-info{
  width: 14%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#content-wrap .content .gamesetting-info .champion-img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #D8D3D3;
}
#content-wrap .content .gamesetting-info .spell{
  width: 22px;
  height: 22px;
  background-color: #D8D3D3;
}
#content-wrap .content .gamesetting-info .rune{
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: #D8D3D3;
}
#content-wrap .content .gamesetting-info .spell:nth-child(2),
#content-wrap .content .gamesetting-info .rune:nth-child(4){
  margin-bottom: 2px;
}
/* kda */
#content-wrap .content .kda{
  width: 15%;
  text-align: center;
}
#content-wrap .content .kda p{
  margin: 7px 0;
}
#content-wrap .content .kda .kda-scroe{
  font-size: 15px;
  font-weight: bold;
}
#content-wrap .content .kda .kda-ratio{
  font-size: 12px;
}
/* stats */
#content-wrap .content .stats{
  width: 15%;
  font-size: 11px;
}
#content-wrap .content .stats p{
  margin: 7px 0;
  text-align: center;
}
/* itemlist */
#content-wrap .content .itemlist{
  width: 13%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#content-wrap .content .itemlist .item{
  width: 22px;
  height: 22px;
  margin: 2px;
  background-color: #D8D3D3;
}
/* players */
#content-wrap .content .players{
  width: 25%;
  height: 100%;
  display: flex;
}
#content-wrap .content .players .team{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#content-wrap .content .players .team .summoner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-wrap .content .players .team .summoner .team-champion-img{
  width: 16px;
  height: 16px;
  background-color: #D8D3D3;
  margin-right: 3px;
}
#content-wrap .content .players .team .summoner .team-summoner-name{
  font-size: 11px;
}
/* history- button */
#content-wrap .content .history-button{
  width: 3%;
  height: 100%;
  background-color: #D96059;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-wrap .content .history-button{
  color: #971C1C;
}
/* 승리시 CSS변경 */

/* 미디어쿼리 */
/* 모바일 사이즈 */
@media screen and (max-width:425px){
  #header .header-top .logo{
    width: 130px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  #header .header-top .logo img{
    width: 130px;
  }
  #header .header-top .search-area{
    display: none;
  }
  #header .header-bottom{
    position: relative;
  }
  #header .header-bottom .search-area{
    display: block;
    
  }
  #header .header-bottom .nav{
    display: none;
  }
  /* 햄버거 */
  .ham{
    display: block;
  }
  /* 로그인 */
  #header .login h1{
    display: block;
  }
  #header .login h2{
    display: none;
  }
  /* summoner info */
  #summoner-info{
    width: 250px;
    height: 80px;
    top: 40px;
  }
  #summoner-info .summoner-icon{
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  #summoner-info .summoner-icon p{
    width: 45px;
    font-size: 12px;
    line-height: 12px;
    
  }
  /* 소환사정보 텍스트 부분 */
  #summoner-info .summoner-info-text{
    right: 5px;
  }
  #summoner-info .summoner-info-text h2{
    font-size: 15px;
    margin-bottom: 8px;
  }
  #summoner-info .summoner-info-text p{
    font-size: 12px;
  }
  #summoner-info .summoner-info-text p:nth-of-type(1){
    margin-bottom: 8px;
  }
  /* summoner-rank 부분 */
  #summoner-rank{
    width: 100%;
    height: 150px;
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  #summoner-rank .solo{
    border-right: 1px solid #fff;
  }
  #summoner-rank .solo,
  #summoner-rank .free{
    width: 400px;
    height: 150px;
    background-color: #E7E7E7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  #summoner-rank .solo>h2,
  #summoner-rank .free>h2{
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
  #summoner-rank .solo .solorank-img,
  #summoner-rank .free .freerank-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #A4A4A4;
  }
  #summoner-rank .solo .solorank-text h2:nth-child(1),
  #summoner-rank .free .freerank-text h2:nth-child(1){
    display: none;
  }
  #summoner-rank .solo .solorank-text h2:nth-of-type(2),
  #summoner-rank .free .freerank-text h2:nth-of-type(2){
    font-size: 12px;
    margin-bottom: 5px;
  }
  /* gamemod 부분 */

  #gamemod{
    width: 100%;
    top: 140px;
  }
  #gamemod .gamemod-tab h2{
    width: 58px;
  }
  #gamemod .gamemod-tab h2 a{
    font-size: 12px;
  }
  /* gamemod - contents 부분 */
  #gamemod .gamemod-contents{
    width: 100%;
  }
  #gamemod .gamemod-contents .mostchamp{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist{
    height: auto;
    margin-left: 0;
    top: 0;
    display: inline-block;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist:nth-child(3){
    display: none;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist .mostchamp-img{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #A4A4A4;
    position: unset;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist h3{
    font-size: 15px;
    position: unset;
    text-align: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist p{
    font-size: 12px;
    position: unset;
    top: 27px;
    left: 50px;
    text-align: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist p span{
    display: none;
  }
  /* gameaverage부분 */

  #gamemod .gamemod-contents .gameaverage{
    width: 65%;
  }
  #gamemod .gamemod-contents .gameaverage h2{
    font-size: 16px;
  }
  #gamemod .gamemod-contents .gameaverage p{
    font-size: 12px;
    margin-top: 6px;
  }
  #gamemod .gamemod-contents .gameaverage h1{
    font-size: 16px;
  }
}

/* 태블릿사이즈 */
@media screen and (min-width:426px) and (max-width:767px){
  #header .header-top .logo{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #header .header-top .logo span{
    display: inline-block;
  }
  #header .header-top .search-area{
    display: none;
  }
  #header .header-bottom{
    position: relative;
  }
  #header .header-bottom .search-area{
    display: block;
    width: 350px;
  }
  #header .header-bottom .search-area .search-input{
    width: 290px;
  }
  #header .header-bottom .nav{
    display: none;
  }
  /* 햄버거 */
  .ham{
    display: block;
  }
  /* 로그인 */
  #header .login h1{
    display: block;
  }
  #header .login h2{
    display: none;
  }
  /* summoner info */
  #summoner-info{
    width: 250px;
    height: 80px;
    top: 40px;
  }
  #summoner-info .summoner-icon{
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  #summoner-info .summoner-icon p{
    width: 45px;
    font-size: 12px;
    line-height: 12px;
    
  }
  /* 소환사정보 텍스트 부분 */
  #summoner-info .summoner-info-text{
    right: 5px;
  }
  #summoner-info .summoner-info-text h2{
    font-size: 15px;
    margin-bottom: 8px;
  }
  #summoner-info .summoner-info-text p{
    font-size: 12px;
  }
  #summoner-info .summoner-info-text p:nth-of-type(1){
    margin-bottom: 8px;
  }
  /* summoner-rank 부분 */
  #summoner-rank{
    width: 100%;
    height: 150px;
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  #summoner-rank .solo{
    border-right: 1px solid #fff;
  }
  #summoner-rank .solo,
  #summoner-rank .free{
    width: 400px;
    height: 150px;
    background-color: #E7E7E7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  #summoner-rank .solo>h2,
  #summoner-rank .free>h2{
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
  #summoner-rank .solo .solorank-img,
  #summoner-rank .free .freerank-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #A4A4A4;
  }
  #summoner-rank .solo .solorank-text h2:nth-child(1),
  #summoner-rank .free .freerank-text h2:nth-child(1){
    display: none;
  }
  #summoner-rank .solo .solorank-text h2:nth-of-type(2),
  #summoner-rank .free .freerank-text h2:nth-of-type(2){
    font-size: 12px;
    margin-bottom: 5px;
  }
  /* gamemod 부분 */

  #gamemod{
    width: 100%;
    top: 140px;
  }
  #gamemod .gamemod-tab h2{
    width: 58px;
  }
  #gamemod .gamemod-tab h2 a{
    font-size: 12px;
  }
  /* gamemod - contents 부분 */
  #gamemod .gamemod-contents{
    width: 100%;
  }
  #gamemod .gamemod-contents .mostchamp{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist{
    height: auto;
    margin-left: 0;
    top: 0;
    display: inline-block;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist:nth-child(3){
    display: block;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist .mostchamp-img{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #A4A4A4;
    position: unset;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist h3{
    font-size: 15px;
    position: unset;
    text-align: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist p{
    font-size: 12px;
    position: unset;
    top: 27px;
    left: 50px;
    text-align: center;
  }
  #gamemod .gamemod-contents .mostchamp .mostchamplist p span{
    display: none;
  }
  /* gameaverage부분 */

  #gamemod .gamemod-contents .gameaverage{
    width: 65%;
  }
  #gamemod .gamemod-contents .gameaverage h2{
    font-size: 16px;
  }
  #gamemod .gamemod-contents .gameaverage p{
    font-size: 12px;
    margin-top: 6px;
  }
  #gamemod .gamemod-contents .gameaverage h1{
    font-size: 16px;
  }
}