@charset "utf-8";
#wrap{
  width: 100vw;
  height: 100vh;
}
.login_container{
  width: 400px;
  height: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.login_container h1{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 90px;

}
.login_container h1 img{
  width: 230px;
}
/* 로그인폼 */
.login_container form{
  width: 300px;
  height: 250px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
}
.login_container form .login_input{
  width: 300px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #7B7777;
}
.login_container form .login_input::placeholder{
  font-size: 18px;
}
.login_container form .login_input:nth-child(2){
  margin-top: 20px;
}
.login_container form #save_email{
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #7B7777;
  box-sizing: border-box;

}
.login_container form label{
  font-size: 15px;
  color: #7B7777;
}
.login_container form label{
  margin-right: 20px;
  height: 15px;
  line-height: 18px;
}
.login_container form a:nth-of-type(1){
  height: 15px;
  line-height: 18px;
}
.login_container form a{
  color: #FF7A00;
  font-size: 15px;
}

.login_container form button{
  width: 300px;
  height: 50px;
  font-size: 15px;
  color: #fff;
  background-color: #ff7b005b;
  border: none;
  border-radius: 10px;
}

.login_container form span{
  color: #7B7777;
  font-size: 15px;
}

/* SNS 로그인 */

.sns_login{
  width: 300px;
  height: 105px;
  position: absolute;
  top: 450px;
  left: 50px;
}
.sns_login .other_login{
  width: 300px;
  display: flex;
}
.sns_login .other_login hr{
  width: 50px;
}
.sns_login .other_login span{
  font-size: 12px;
  line-height: 18px;
  color: #7B7777;
}
.sns_login .sns{
  width: 300px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sns_login .sns h2{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.sns_login .sns h2:nth-of-type(1){
  background: #FFE816;
}
.sns_login .sns h2:nth-of-type(2){
  background: #1F41BA;
}
.sns_login .sns h2:nth-of-type(3){
  background-color: #35FF3D;
}
