<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>그님티 회원가입</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/join.css">
</head>
<body>
  <div id="wrap">
    <header id="header">
      <h2><a href="/"><img src="/images/logo.png" alt=""></a></h2>
      <h2><a href="/login">로그인</a></h2>
    </header>
    <section id="joinform">
      <form action="">
        <h2>회원가입</h2>
        <input type="text" placeholder="이름 (2자 이상)">
        <input type="email" placeholder="이메일 (example@gmail.com)">
        <input type="password" placeholder="비밀번호 (영문, 숫자조합 8자이상)">
        <button type="submit">계정 만들기</button>
      </form>
    </section>
  </div>
</body>
</html>